@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-image: url(../image/fundo.png);
    
}

.título {
    color: rgb(58, 118, 177);
    font-size: 2.5em;
    text-align: center;
    margin: 10;
    padding: 0.2%;
    font-family: Bebas, sans-serif;
}

.subtitulo {
    color: rgb(58, 118, 177);
    font-size: 1.5em;
    text-align: center;
    font-family: permanet marker;

}

.sinopse {
    color: rgb(58, 118, 177);
    text-align: center;
    max-width: 30%;
    font-size: 1em;
    font-family: roboto;
    padding: 2.5%;
    border-color: #369;
    border: solid 3px;
    border-style: dashed;
    
    

}

.info {
    color: rgb(58, 118, 177);
    text-align: center;
    padding: 2.5%;
    border-color: #369;
    border: solid 1.5px;
    border-style: dashed;
    max-width: 9%;
   
}

.diretores {
    color: white;
    font-size: 2em;
    text-align: center;
    font-family: roboto;
    padding: 2.5%;
    background-image: url(../image/background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: 50%;
    background-position-y: 10%;
    height: 20vh;
}

.trama {
    color: rgb(58, 118, 177);
    text-align: center;
    font-size: 1.25em;
    font-family: roboto;
    padding: 2.5%;
    border-color: #369;
    border: solid 4px;
    border-style: dashed;
    max-width: 30%;
}

.link {
    color: rgb(58, 118, 177);
    text-align: center;
    font-size: 1.25em;
    font-family: roboto, cursive;
    background-image: url(../image/gif.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 40%;
    height: 500px;

}

#crunch {
    color: orange;
}

.rodape {
    color: rgb(58, 118, 177);
    text-align: center;
    padding-top: 2.5%;
}